@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --color-text-white: #f7efe8;
    --color-text-black: #002447;
    --color-text-red: #c1535f;
    --color-text-pink: #dc2e57;
    --color-text-orange: #e89428;
    --color-text-blue: #52b2b7;
  }
  .theme-light1{
    --color-text-white: #f7efe8;
    --color-text-black: #002447;
    --color-text-red: #c1535f;
    --color-text-pink: #dc2e57;
    --color-text-orange: #e89428;
    --color-text-blue: #52b2b7;
  }
  .theme-light2{
    --color-text-white: #f6f8ff;
    --color-text-black: #26202f;
    --color-text-red: #89becb;
    --color-text-pink: #209ac2;
    --color-text-orange: #585491;
    --color-text-blue: #cdd4d6;
  }
  .theme-light3{
    --color-text-white: #eebf85;
    --color-text-black: #133f4b;
    --color-text-red: #7f887e;
    --color-text-pink: #ee2e55;
    --color-text-orange: #fefeff;
    --color-text-blue: #4e4f58;
  }
  .theme-light4{
    --color-text-white: #FFFFFF;
    --color-text-black: #F5F5F5;
    --color-text-red: #FFCD66;
    --color-text-pink: #FFFF00;
    --color-text-orange: #CD6600;
    --color-text-blue: #8B0000;
  }
  .theme-dark1{
    --color-text-white: #1E1E1E;
    --color-text-black: #5C4E4E;
    --color-text-red: #9C7D7D;
    --color-text-pink: #CCA5A5;
    --color-text-orange: #F5C7C7;
    --color-text-blue: #FF5E5E;
  }
  .theme-dark2{
    --color-text-white: #121212;
    --color-text-black: #4B0082;
    --color-text-red: #8B008B;
    --color-text-pink: #CD5C5C;
    --color-text-orange: #FFA07A;
    --color-text-blue: #F5C7C7;
  }
  .theme-dark3{
    --color-text-white: #1F1F1F;
    --color-text-black: #3D3D3D;
    --color-text-red: #636363;
    --color-text-pink: #9C9C9C;
    --color-text-orange: #D1D1D1;
    --color-text-blue: #F5F5F5;
  }
  .theme-dark4{
    --color-text-white: #1F1F1F;
    --color-text-black: #8B0000;
    --color-text-red: #CD6600;
    --color-text-pink: #FFA07A;
    --color-text-orange: #FFD700;
    --color-text-blue: #F5F5F5;
  }

}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
